html,
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden !important;
    width: 100vw;
    background-color: #212529 !important;
}

.cover {
    background-image: url("../img/cover.png") !important;
    background-size: cover !important;
    height: 650px;
    overflow-x: hidden !important;
}

.coverpika {
    background-image: url("../img/coverpika.png") !important;
    background-size: cover !important;
    height: 150px;
    overflow-x: hidden !important;
}

.iconNavBar {
    height : 30px !important;
    width :auto;
}

.dropdown-menu, .dropdown-item {
    background-color: #212529 !important;
    color: #fff !important;
}
.svg {
    margin: 10px!important;
    margin-left: 10px !important;
    margin-right: 10px !important;
   
}

/* ------- Style des card pour les manga dans les pages des editeurs. ------- */
/* -------- C'est pour testé faut le virer et le changer toute facon -------- */
.cardMangaEditor {
    width: auto;
    height : 150px;
    margin : 6px;
}
.cardMangaEditorTitle {
    font-size:14px;
}

.cardMangaEditorText  {
    font-size : 8px;
}