html,
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden !important;
    width: 100vw;
    background-color: #212529 !important;
}

.cover {
    background-image: url("../img/cover.png") !important;
    background-size: cover !important;
    height: 650px;
    overflow-x: hidden !important;
}

.coverpika {
    background-image: url("../img/coverpika.png") !important;
    background-size: cover !important;
    height: 150px;
    overflow-x: hidden !important;
}

.iconNavBar {
    height : 30px !important;
    width :auto;
}

.dropdown-menu, .dropdown-item {
    background-color: #212529 !important;
    color: #fff !important;
}
.svg {
    margin: 10px!important;
    margin-left: 10px !important;
    margin-right: 10px !important;
   
}
.footer{
    background: #212529!important;
}