html,
body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden !important;
    width: 100vw;
    background-color: #212529 !important;
}

.cover {
    background-image: url("../img/cover.png") !important;
    background-size: cover !important;
    height: 650px;
    overflow-x: hidden !important;
}

.coverpika {
    background-image: url("../img/coverpika.png") !important;
    background-size: cover !important;
    height: 150px;
    overflow-x: hidden !important;
}

.iconNavBar {
    height : 30px;
    width :auto;
}

.footerStd {
 height : 65px;
 font-size : 14px;
}